<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techpenta.parthaphotography" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.techpenta.parthaphotography.CrowdWeather"
        android:allowBackup="true"
        android:icon="@drawable/frontpic"
        android:label="Parthaphotography"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.techpenta.parthaphotography.Homepage"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.techpenta.parthaphotography.Homepage_titlimobile"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.techpenta.parthaphotography.Splashscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.Imageloader.MainActivity" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.Singleitems.SingleItemView" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.Singleitems.SingleItemView_Gallery" />
        <activity
            android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.Blog_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.Gallery_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.About_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.News_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.About_Tab1" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.About_Tab2" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.About_Tab3" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.Gallery_Tab1" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.Gallery_Tab2" />
        <activity android:name="com.techpenta.parthaphotography.jsonparsing.ButtonActivities.Gallery_Tab3" />
        <activity android:name="com.techpenta.parthaphotography.Main2Activity" />
    </application>

</manifest>