<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbegin.jsonparsetutorial3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:largeHeap="true"


        >
        <activity
            android:name=".Homepage"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".Homepage_titlimobile"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".jsonparsing.Imageloader.MainActivity" />
        <activity android:name=".jsonparsing.Singleitems.SingleItemView" />
        <activity android:name=".jsonparsing.Singleitems.SingleItemView_Gallery" />

        <activity
            android:name=".jsonparsing.ButtonActivities.Blog_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jsonparsing.ButtonActivities.Gallery_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity

            android:name=".jsonparsing.ButtonActivities.About_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity

            android:name=".jsonparsing.ButtonActivities.News_Activity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>